/*Add new catagory page*/
.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.input-txt {
  padding-right: 10px; }

.input-field {
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
  width: 300px; }
