/*Add new catagory page*/
.form-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

.input-txt {
  padding-right: 10px; }

.input-field {
  padding: 5px;
  border: none;
  width: 300px; }
