*{
	margin: 0;
	padding: 0;
}
html{
	overflow-y: scroll;
}

/*fixing bootstrap container padding in the sides*/
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.row{
	margin-right: 0;
	margin-left: 0;
}


p{
	margin-bottom: inherit;
}
