
/* Scss Document */

/*sccs variables*/
$primary: white;

*{
	margin: 0;
	padding: 0;
}
html{
	overflow-y: scroll;
}
body{
	background-color: $primary;
}
/*fixing bootstrap container padding in the sides*/
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.row{
	margin-right: 0;
	margin-left: 0;
}

/*Add new catagory page*/
.form-input{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.input-txt{
	padding-right: 10px;
}
.input-field{
	padding: 5px;
    border: none;
    border-bottom: 1px solid black;
	width: 300px;
}

/*Responsive*/
@media screen and (max-width: 480px){
	.input-field{
		width: 65%;
	}
}



