/* Scss Document */
/*sccs variables*/
* {
  margin: 0;
  padding: 0; }

html {
  overflow-y: scroll; }

body {
  background-color: white; }

/*fixing bootstrap container padding in the sides*/
.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

/*Add new catagory page*/
.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.input-txt {
  padding-right: 10px; }

.input-field {
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
  width: 300px; }

/*Responsive*/
@media screen and (max-width: 480px) {
  .input-field {
    width: 65%; } }
